.Notification {
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;

  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
